* {
	box-sizing: border-box;
	text-decoration: none;
	color: white;
}

body {
	background-image: url("../Img/Overworld_background.png");
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	padding: 0;
	font-size: 1.3em;
	font-family: Arial, sans-serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh; /* Fait en sorte que la page prenne toute la hauteur de l'écran */
}
/************************************************************/
/*											Header															*/
/************************************************************/
header {
	background-color: #333;
	padding-left: 0;
	text-align: right;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	z-index: 1000; /* S'assure que le header reste au-dessus du contenu */
	overflow: hidden;
}

.titrePage {
	background-color: rgb(255, 195, 0);
	text-align: left;
	padding: 25px;
	display: inline-flex;
	align-items: center;
	z-index: 1;
}

.titrePage img {
	width: 45px;
	max-width: 100%;
	height: 30px;
	max-height: 100%;
	padding: 0;
	margin-left: 25px;
}

.triangleJaune {
	height: 0;
	width: 0;
	border-right: 70px solid transparent;
	border-bottom: 70px solid rgb(255, 195, 0);
}

.triangleVert {
	height: 0;
	width: 0;
	border-top: 70px solid rgb(2, 97, 2);
	border-left: 70px solid transparent;
	margin-left: auto; /* Pousse les éléments suivants à droite */
}

nav {
	padding: 15px 0;
	background-color: rgb(2, 97, 2);
	z-index: 1;
}

header ul {
	list-style: none;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 25px;
	margin: 0;
}

header ul li {
	margin-left: 25px;
	font-size: 1.5em;
	padding: 5px;
}

header ul li:hover div {
	color: rgb(111, 169, 219);
}

@media screen and (max-width: 1025px) {
	h1 {
		display: none;
	}
}
/*************************************************************/
/*						 						   Main														 */
/*************************************************************/
main {
	margin: 110px auto 0 auto; /* Compense la hauteur du header */
	display: block;
	flex-grow: 1;
}

/******************************Biographie*********************/
#Biographie {
	scroll-margin-top: 150px; /* Déplacer correctement la page en cliquer sur le bouton */
	background-color: rgb(170, 170, 170);
	border: 10px solid rgb(2, 97, 2);
	display: flex;
	width: 75%;
	margin: 0 auto;
	margin-bottom: 80px;
}
.zoneTextBio {
	width: 80%;
	padding: 50px;
	margin: auto;
}
#Biographie p {
	width: 90%;
	margin: 0 auto;
	color: #6b4226;
}
#Biographie abbr {
	color: #6b4226;
	font-style: italic;
	text-decoration: underline;
}
#Biographie b {
	color: #6b4226;
}
#Biographie .zoneImgBio a p {
	color: rgb(170, 170, 170);
}
.zoneImgBio {
	background-color: rgb(2, 97, 2);
	flex-grow: 8;
	display: grid;
	text-align: center;
	padding: 10px;
}
#Biographie img {
	width: 160px;
	margin: auto;
	border: 8px solid rgb(170, 170, 170);
	border-radius: 15%;
	margin-bottom: 10px;
}

@media screen and (max-width: 1025px) {
	#Biographie {
		flex-direction: column;
	}
	.zoneTextBio {
		width: 100%;
	}
}
/*******************************Projet************************/
#Projets {
	scroll-margin-top: 100px; /* Déplacer correctement la page en cliquer sur le bouton */
}
#Projets > div {
	margin: 50px 0;
}
.projetPartSite {
	background-image: url("../Img/Fond_Gris.png");
	padding-bottom: 50px;
}
#ProjetPartClicker {
	background-color: rgb(185, 142, 0);
	padding: 75px;
}
#PartClicker {
	background-color: rgb(2, 97, 2);
	padding: 75px;
	text-align: center;
}
.projetPartArkanoid {
	background-color: rgb(0, 50, 83);
	padding: 75px;
	text-align: center;
}
.projetPartPokedex {
	border-top: 5px solid red;
	border-bottom: 5px solid white;
	background-color: black;
	padding: 75px;
	text-align: center;
}

/******************************************Site*****************/
.enteteProjetSite {
	margin: 0 auto;
	margin-bottom: 25px;
	width: 100%;
	position: relative;
	background-color: rgb(185, 142, 0);
	padding: 50px 100px 50px 100px;
	text-align: center;
}
.DefinitionImgSite {
	margin: 0 auto;
	margin-bottom: 25px;
	width: 80%;
	text-align: justify;
}
#Projets img {
	width: 75%;
	padding: 0;
	border: 10px #865737;
	border-style: ridge;
	object-fit: cover;
}
.ImgProjet {
	text-align: center;
}
.LongImgProjet {
	display: flex;
	justify-items: center;
	justify-content: space-around;
	margin: 0 auto;
	max-width: 75%;
	text-align: center;
}
.LongImg {
	max-width: 30%;
	object-fit: contain;
}

.cherchePage {
	margin: 0 auto;
	margin-bottom: 50px;
	width: 60%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.cherchePage div {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background-color: #333;
}
.projetPartSite button {
	background-color: transparent;
	border-style: none;
	height: 0;
	width: 0;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
}
.projetPartSite #btnSuivant:hover {
	border-left-color: rgb(138, 93, 39);
}
.projetPartSite #btnPrecedent:hover {
	border-right-color: rgb(138, 93, 39);
}
.cherchePage div:hover {
	background-color: #4e4e4e;
}
.projetPartSite #btnPrecedent {
	border-right: 30px solid rgb(167, 129, 81);
}
.projetPartSite #btnSuivant {
	border-left: 30px solid rgb(167, 129, 81);
}

.cherchePage div.beige {
	background-color: beige;
}
.cherchePage div.hovering {
	background-color: #4e4e4e;
}

/*********************************Clicker************************/
.miniOnglet {
	display: flex;
	text-align: center;
	align-items: flex-end;
}
#btnExempleClicker img,
#btnProjetClicker img {
	border: none;
	margin-top: -3px;
}
#btnProjetClicker,
#btnExempleClicker {
	border-bottom: none;
	padding: 7px;
	width: 95px;
	height: 65px;
	border-radius: 50% 50% 0 0;
}
#btnProjetClicker:hover,
#btnExempleClicker:hover {
	cursor: pointer;
}
#btnProjetClicker {
	background-color: rgb(185, 142, 0);
}
#btnProjetClicker:hover {
	background-color: rgb(212, 179, 69);
}
#btnExempleClicker {
	background-color: rgb(2, 97, 2);
}
#btnExempleClicker:hover {
	background-color: rgb(40, 110, 40);
}
.btnClicker {
	border: none;
	background-color: transparent;
	width: 500px;
}
#btnClicker {
	background: none;
	border: none;
}
#btnClicker:hover {
	cursor: pointer;
}
#PartClicker img {
	border: none;
}
#textClicker {
	padding: 20px;
	width: 30%;
	margin: 0 auto;
	color: rgb(29, 229, 236);
	text-align: center;
	font-size: 30px;
	background-color: #0000009a;
}
.DefinitionImgClicker {
	margin: 0 auto;
	margin-bottom: 50px;
	width: 90%;
}
.lienJeu {
	text-decoration: underline;
	font-weight: bold;
}

@media screen and (max-width: 1025px) {
	.ProjetPartSite {
		border-radius: 0;
	}
	.EnteteProjetSite {
		border-radius: 0;
	}
	#ProjetPartClicker {
		border-radius: 0;
	}
	#PartClicker {
		border-radius: 0;
	}
}
/*****************************************************************/
/*																		Contact						 				 */
/*****************************************************************/
#Contact {
	background-color: #333;
	border-top: 2px solid #ccc;
	width: 100%;
	padding: 0 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.InfoContact {
	width: 40%;
	margin: 0;
	justify-content: space-around;
	border-collapse: separate;
}
.info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.info div {
	margin-right: 50px;
	transform: translate(-3px, -5px);
}
.info div:last-child {
	margin-right: 0;
}
.info a {
	font-size: 1.1em;
	background-color: #4d4d4d;
	padding: 10px;
	overflow: hidden;
	word-wrap: break-word;
	overflow-wrap: break-word;
	box-shadow: 3px 5px #4a3524;
}
.info div:hover {
	transform: translate(0);
}
.info a:hover {
	box-shadow: none;
}
.info a img {
	max-width: 24px;
	max-height: 24px;
	vertical-align: top;
}
.info a i {
	color: black;
}
/* 
.slider-container {
	display: flex;
	align-items: center;
	background-color: #636363;
	padding: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input[type="range"] {
	-webkit-appearance: none;
	width: 100%;
	height: 5px;
	background: #ddd;
	outline: none;
	border-radius: 5px;
}
.sliderProject {
	margin-bottom: 200px;
}
.zoneProjet {
	background-color: #333;
	height: 100px;
} */
#zoneProjet {
	background-color: #636363;
	display: flex;
	justify-content: space-around;
	padding: 20px;
	margin-bottom: 50px;
}
.squareProjet {
	width: 150px;
	background-color: grey;
	border: 2px solid rgb(0, 0, 0);
	text-align: center;
	padding: 10px;
}
#Projets .squareProjet img {
	max-width: 100%;
	max-height: 100%;
	border: none;
	border-style: none;
	object-fit: contain;
}
.hidden {
	display: none;
}
