* {
	box-sizing: border-box;
	text-decoration: none;
	color: white;
}
body {
	background-image: url("../Img/Overworld_background.png");
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	padding: 0;
	font-size: 1.3em;
	font-family: Arial, sans-serif;
}

/************************************************************/
/*											Header															*/
/************************************************************/
header {
	background-color: #333;
	padding-left: 0;
	text-align: right;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	z-index: 1000; /* S'assure que le header reste au-dessus du contenu */
	overflow: hidden;
}

.titrePage {
	background-color: rgb(255, 195, 0);
	text-align: left;
	padding: 25px;
	display: inline-flex;
	align-items: center;
	z-index: 1;
}

.titrePage img {
	width: 45px;
	max-width: 100%;
	height: 30px;
	max-height: 100%;
	padding: 0;
	margin-left: 25px;
}

.triangleJaune {
	height: 0;
	width: 0;
	border-right: 70px solid transparent;
	border-bottom: 70px solid rgb(255, 195, 0);
}

.triangleVert {
	height: 0;
	width: 0;
	border-top: 70px solid rgb(2, 97, 2);
	border-left: 70px solid transparent;
	margin-left: auto; /* Pousse les éléments suivants à droite */
}

nav {
	padding: 15px 0;
	background-color: rgb(2, 97, 2);
	z-index: 1;
}

header ul {
	list-style: none;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 25px;
	margin: 0;
}

header ul li {
	margin-left: 25px;
	font-size: 1.5em;
	padding: 5px;
}

header ul li:hover div {
	color: rgb(111, 169, 219);
}

@media screen and (max-width: 1025px) {
	h1 {
		display: none;
	}
}
/*************************************************************/
/*						 						   Main														 */
/*************************************************************/
main {
	margin: 90px auto 0 auto; /* Compense la hauteur du header */
	padding: 20px;
	display: block;
	width: 75%;
}

/******************************Biographie*********************/
#Biographie {
	scroll-margin-top: 150px; /* Déplacer correctement la page en cliquer sur le bouton */
	background-color: rgb(170, 170, 170);
	border: 10px solid rgb(2, 97, 2);
	display: flex;
	margin-bottom: 100px;
}
.zoneTextBio {
	width: 80%;
	padding: 50px;
	margin: auto;
}
#Biographie p {
	width: 90%;
	margin: 0 auto;
	color: #6b4226;
}
#Biographie abbr {
	color: #6b4226;
	font-style: italic;
	text-decoration: underline;
}
#Biographie b {
	color: #6b4226;
}
#Biographie a {
	color: rgb(170, 170, 170);
}
.zoneImgBio {
	background-color: rgb(2, 97, 2);
	flex-grow: 8;
	display: grid;
	text-align: center;
	padding: 10px;
}
#Biographie img {
	width: 160px;
	margin: auto;
	border: 8px solid rgb(170, 170, 170);
	border-radius: 15%;
	margin-bottom: 10px;
}

@media screen and (max-width: 1025px) {
	#Biographie {
		flex-direction: column;
	}
	.zoneTextBio {
		width: 100%;
	}
}
/*******************************Projet************************/
#Projets {
	scroll-margin-top: 100px; /* Déplacer correctement la page en cliquer sur le bouton */
}
.ProjetPartSite {
	background-image: url("../Img/Fond_Gris.png");
	border: 10px solid #34548f;
	border-radius: 50px;
	margin-bottom: 25px;
	padding-bottom: 50px;
}
#ProjetPartClicker {
	background-color: rgb(185, 142, 0);
	padding: 75px;
	border: 10px solid #34548f;
	border-radius: 0 5% 5%;
}
#PartClicker {
	background-color: rgb(2, 97, 2);
	padding: 75px;
	border: 10px solid #34548f;
	border-radius: 0 5% 5%;
	text-align: center;
}

/******************************************Site*****************/
.EnteteProjetSite {
	margin: 0 auto;
	margin-bottom: 25px;
	width: 100%;
	position: relative;
	background-color: rgb(185, 142, 0);
	padding: 50px 100px 50px 100px;
	border-radius: 40px 40px 0px 0px;
	text-align: center;
}
.DefinitionImgSite {
	margin: 0 auto;
	margin-bottom: 25px;
	width: 80%;
	text-align: justify;
}
#Projets img {
	width: 75%;
	padding: 0;
	border: 10px #865737;
	border-style: ridge;
	object-fit: cover;
}
.ImgProjet {
	text-align: center;
}
.LongImgProjet {
	display: flex;
	justify-items: center;
	justify-content: space-around;
	margin: 0 auto;
	max-width: 75%;
	text-align: center;
}
.LongImg {
	max-width: 30%;
	object-fit: contain;
}

.cherchePage {
	margin: 0 auto;
	margin-bottom: 50px;
	width: 60%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.cherchePage div {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background-color: #333;
}
.ProjetPartSite button {
	background-color: transparent;
	border-style: none;
	height: 0;
	width: 0;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
}
.ProjetPartSite #btnSuivant:hover {
	border-left-color: rgb(138, 93, 39);
}
.ProjetPartSite #btnPrecedent:hover {
	border-right-color: rgb(138, 93, 39);
}
.cherchePage div:hover {
	background-color: #4e4e4e;
}
.ProjetPartSite #btnPrecedent {
	border-right: 30px solid rgb(167, 129, 81);
}
.ProjetPartSite #btnSuivant {
	border-left: 30px solid rgb(167, 129, 81);
}

.cherchePage div.beige {
	background-color: beige;
}
.cherchePage div.hovering {
	background-color: #4e4e4e;
}

/*********************************Clicker************************/
.miniOnglet {
	display: flex;
	margin-bottom: -10px;
	text-align: center;
	align-items: flex-end;
}
#btnExempleClicker img,
#btnProjetClicker img {
	border: none;
}
#btnProjetClicker,
#btnExempleClicker {
	border: 10px solid #34548f;
	border-bottom: none;
	padding: 5px;
	width: 95px;
	height: 65px;
	border-radius: 50% 50% 0 0;
}
#btnProjetClicker:hover,
#btnExempleClicker:hover {
	cursor: pointer;
}
#btnProjetClicker {
	background-color: rgb(185, 142, 0);
}
#btnProjetClicker:hover {
	background-color: rgb(212, 179, 69);
}
#btnExempleClicker {
	background-color: rgb(2, 97, 2);
}
#btnExempleClicker:hover {
	background-color: rgb(40, 110, 40);
}
.btnClicker {
	border: none;
	background-color: transparent;
	width: 500px;
}
#btnClicker {
	background: none;
	border: none;
}
#btnClicker:hover {
	cursor: pointer;
}
#PartClicker img {
	border: none;
}
#textClicker {
	padding: 20px;
	margin: 0 auto;
	color: rgb(29, 229, 236);
	text-align: center;
	font-size: 30px;
	background-color: #0000009a;
}
.DefinitionImgClicker {
	margin: 0 auto;
	margin-bottom: 50px;
	width: 90%;
}

@media screen and (max-width: 1025px) {
	.ProjetPartSite {
		border-radius: 0;
	}
	.EnteteProjetSite {
		border-radius: 0;
	}
	#ProjetPartClicker {
		border-radius: 0;
	}
	#PartClicker {
		border-radius: 0;
	}
}
/*****************************************************************/
/*																		Contact						 				 */
/*****************************************************************/
#Contact {
	position: absolute;
	background-color: #333;
	border-top: 2px solid #ccc;
	width: 100%;
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#Contact h2 {
	margin-left: 50px;
}

.InfoContact {
	width: 40%;
	margin: 0;
	justify-content: space-around;
	border-collapse: separate;
}
.InfoContact th,
.InfoContact td {
	text-align: center;
	max-width: 50%;
}
.InfoContact th {
	padding-left: 75px;
	padding-right: 75px;
}
.InfoContact tbody {
	padding: 0;
	text-align: center;
}
.info p {
	font-size: 1.1em;
	background-color: #4d4d4d;
	padding: 10px;
	transform: translate(
		0px,
		-5px
	); /* Décalage vers le haut et la gauche pour donné impression bouton */
	box-shadow: 3px 5px #4a3524;
	overflow: hidden;
	word-wrap: break-word;
	overflow-wrap: break-word;
}
.info p:hover {
	transform: translate(3px, 0px); /* retiré le décalage */
	box-shadow: none;
}

.linkedln {
	width: 50%;
	margin: 0 auto;
}
.InfoContact img {
	max-width: 24px;
	max-height: 24px;
	vertical-align: top;
}
