* {
	box-sizing: border-box;
	text-decoration: none;
	color: white;
}
body {
	background-image: url("Img/Overworld_background.webp");
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	padding: 0;
	font-size: 1.2em;
	font-family: Arial, sans-serif;
}

/************************************************************************************************************/
/*											Header															*/
/************************************************************************************************************/
header {
	background-color: #333;
	padding: 20px;
	text-align: right;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1000; /* S'assure que le header reste au-dessus du contenu */
}
header ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: flex-end;
}
header ul li {
	margin-left: 15px;
	font-size: 1.5em;
	padding: 5px;
}
header ul li:hover div {
	color: rgb(111, 169, 219);
}

/************************************************************************************************************/
/*											Main															*/
/************************************************************************************************************/
main {
	margin: 120px auto 0 auto; /* Compense la hauteur du header */
	padding: 20px;
	display: block;
	width: 75%;
}

/* Biographie */
#Biographie {
	scroll-margin-top: 150px; /* Déplacer correctement la page en cliquer sur le bouton */
	background-color: rgb(170, 170, 170);
	border: 10px solid #053d05;
	display: flex;
	margin-bottom: 100px;
}
.zoneTextBio {
	width: 80%;
	padding: 50px;
	margin: auto;
}
#Biographie p {
	width: 90%;
	margin: 0 auto;
	color: #6b4226;
}
#Biographie b {
	color: #6b4226;
}
.zoneImgBio {
	background-color: #053d05;
	flex-grow: 8;
	display: grid;
}
#Biographie img {
	width: 160px;
	margin: auto;
	border: 8px solid rgb(170, 170, 170);
	border-radius: 15%;
}

/* Projets */
#Projets {
	scroll-margin-top: 150px; /* Déplacer correctement la page en cliquer sur le bouton */
}
.ProjetPartSite {
	background-image: url(Img/Fond_Gris.png);
	border: 10px solid #34548f;
	border-radius: 50px;
	margin-bottom: 25px;
}
.ProjetPartClicker {
	background-color: #978017;
	padding: 75px;
	border: 10px solid #34548f;
	border-radius: 5%;
}

.EnteteProjetSite {
	margin: 0 auto;
	margin-bottom: 75px;
	width: 100%;
	position: relative;
	background-color: #978017;
	padding: 50px 100px 50px 100px;
	border-radius: 40px 40px 0px 0px;
	text-align: center;
}
.DefinitionImgSite {
	margin: 0 auto;
	margin-bottom: 75px;
	width: 80%;
	text-align: justify;
}
.DefinitionImgClicker {
	margin: 0 auto;
	margin-bottom: 75px;
	width: 90%;
}
#Projets img {
	width: 75%;
	padding: 0;
	border: 10px #865737;
	border-style: ridge;
}
.ImgProjet {
	text-align: center;
}

/************************************************************************************************************/
/*											Contact															*/
/************************************************************************************************************/
#Contact {
	scroll-margin-top: 150px; /* Déplacer correctement la page en cliquer sur le bouton */
	position: absolute;
	background-color: #333;
	border-top: 2px solid #ccc;
	width: 100%;
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#Contact h1 {
	margin: 50px;
}

.InfoContact {
	width: 40%;
	margin: 0;
	justify-content: space-around;
	border-collapse: separate;
}
.InfoContact th,
.InfoContact td {
	text-align: center;
	max-width: 50%;
}
.InfoContact th {
	padding-left: 75px;
	padding-right: 75px;
}
.InfoContact tbody {
	padding: 0;
	text-align: center;
}

.info p {
	font-size: 1.1em;
	background-color: #4d4d4d;
	padding: 10px;
	transform: translate(0px, -5px); /* Décalage vers le haut et la gauche pour donné impression bouton */
	box-shadow: 3px 5px #4a3524;
	overflow: hidden;
	word-wrap: break-word;
	overflow-wrap: break-word;
}
.info p:hover {
	transform: translate(3px, 0px); /* retiré le décalage */
	box-shadow: none;
}

.linkedln {
	width: 50%;
	margin: 0 auto;
}
.InfoContact img {
	max-width: 24px;
	max-height: 24px;
	vertical-align: top;
}
