* {
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
a:visited {
	color: aliceblue;
}

body {
	background-image: url("Img/Overworld_background.webp");
	background-repeat: no-repeat;
	background-size: cover;
	color: aliceblue;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	font-size: 1.2em;
}

header {
	background-color: #333;
	padding: 20px;
	text-align: right;
	position: fixed; /* Header reste fixe */
	top: 0;
	left: 0;
	width: 100%;
	height: 125px;
	z-index: 1000; /* S'assure que le header reste au-dessus du contenu */
	display: flex;
	justify-content: space-between; /* Espace entre le titre et la nav */
	align-items: center; /* Centre verticalement le contenu */
}
header ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex; /* Afficher les éléments en ligne */
	justify-content: flex-end; /* Aligne les éléments à droite */
}
header ul li {
	margin-left: 15px;
	font-size: 1.5em;
	padding: 5px;
	background-color: #4d4d4d;
}
header ul li:hover {
	transform: translate(5px, 5px); /* Décalage de 5px vers le bas et la droite */
	box-shadow: -5px -5px #4a3524;
}
header ul li:active {
	transform: translate(0px, 0px); /* Décalage de 5px vers le bas et la droite */
	box-shadow: none;
}

footer {
	background-color: #333;
	width: 100%;
	position: absolute;
}

main {
	color: black;
	margin: 125px auto 0 auto; /* Compense la hauteur du header */
	padding: 20px;
	display: block;
	width: 80%;
}

#Biographie {
	scroll-margin-top: 150px;
	background-color: rgb(170, 170, 170);
	display: flex;
	margin-bottom: 100px;
	padding: 50px;
}
#Biographie div {
	width: 50%;
	margin: auto;
	margin-left: 8%;
}
#Biographie img {
	width: 150px;
	margin: auto;
}

#Projets {
	scroll-margin-top: 150px;
	background-color: rgb(170, 170, 170);
	padding: 75px;
}
.DefinitionImgClicker {
	padding: 0 50px 75px 50px;
}
.ImgClicker {
	text-align: center;
}
#Projets img {
	width: 75%;
	padding: 0;
}

#Contact {
	scroll-margin-top: 150px;
	display: flex;
	justify-content: space-between; /* Sépare les deux parties */
	align-items: center; /* Centre verticalement les éléments */
	border-top: 1px solid #ccc;
	padding: 0;
}
.InfoContact {
	width: 40%;
	margin: 0;
	display: flex;
	flex-direction: row; /* Empile les div verticalement */
	align-items: center; /* Aligne les éléments à droite */
	justify-content: space-around; /* Sépare les deux parties */
}
.InfoContact div {
	padding: 0;
	text-align: center;
	flex-direction: row; /* Empile les div verticalement */
	align-items: center; /* Aligne les éléments à droite */
	justify-content: space-around; /* Sépare les deux parties */
}
#Contact h1 {
	margin: 50px;
}
.InfoContact a {
	color: aliceblue;
	font-size: 1.2em;
}
.InfoContact img {
	width: 25px;
	height: 25px;
}
